*.iml
.gradle
/local.properties
/.idea
.DS_Store
/functions/package-lock.json
/functions/node_modules
/build
/captures
.externalNativeBuild
npm-debug.log
/functions/node_modules/
/functions/etc/
/release
/app/release/
