*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/functions/package-lock.json
/functions/node_modules
/build
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser
