<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.sweng.SDP">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider android:authorities="com.facebook.app.FacebookContentProvider348464052628931"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.myapp.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.WaitingPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.drawing.DrawingOffline"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.drawing.DrawingOnline"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.AccountCreationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.VotingPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.LeaderboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.BattleLogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.LeaguesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.LoadingScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.ShopActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".game.drawing.DrawingOfflineItems"
            android:screenOrientation="portrait" />
    </application>

</manifest>
